<?xml version="1.0" encoding="UTF-8"?> 
	<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
	<mapper namespace="cn.tedu.store.mapper.PinglunsMapper">
	
		<select id="selectAllPingluns" resultMap="nts">
			select p.*,s.Stitle,s.Simg,u.username,u.image from pingluns as p 
			left join scenerys as s on s.Sid = p.Psid
			left join users as u on u.id = p.Puid
			order by p.Pid desc
		</select>
		
		<select id="selectPinglunsBySId" parameterType="Integer" resultMap="nts">
			select p.*,s.Stitle,s.Simg,u.username,u.image from pingluns as p 
			left join scenerys as s on s.Sid = p.Psid
			left join users as u on u.id = p.Puid
			where p.Psid = #{Psid}
			order by p.Pid desc
		</select>
		
		<delete id="deletePinglunsById" parameterType="Integer">
			delete from pingluns where Pid = #{0}
		</delete>
		
		<insert id="insertPingluns" parameterType="cn.tedu.store.bean.Pingluns">
			insert into pingluns(
				Psid,Puid,Pcont,Ptime,Pnums
			)values(
				#{Psid},#{Puid},#{Pcont},#{Ptime},#{Pnums}
			)
		</insert>
		
	<resultMap type="cn.tedu.store.bean.Pingluns" id="nts">
		<result column="Pid" jdbcType="INTEGER" property="Pid" />
    	<result column="Psid" jdbcType="INTEGER" property="Psid" />
    	<result column="Puid" jdbcType="INTEGER" property="Puid" />
    	<result column="Pcont" jdbcType="VARCHAR" property="Pcont" /> 
    	<result column="Ptime" jdbcType="TIMESTAMP" property="Ptime" /> 
    	<result column="Pnums" jdbcType="INTEGER" property="Pnums" />
    	
    	<result column="Stitle" jdbcType="VARCHAR" property="scenerystitle" />
    	<result column="Simg" jdbcType="VARCHAR" property="scenerysimg" />
    	<result column="username" jdbcType="VARCHAR" property="usersname" />
    	<result column="image" jdbcType="VARCHAR" property="userimg" />
    	
	</resultMap>

	</mapper>
	
	
	
	
	
	
	
	
	